:root {

    /* Primary */
    --softRed: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --darkDesaturatedCyan: hsl(167, 40%, 24%);
    --darkBlue: hsl(198, 62%, 26%);
    --darkModerateCyan: hsl(168, 34%, 41%);

    /* Neutral*/
    --veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
    --veryDarkGrayishBlue: hsl(213, 9%, 39%);
    --darkGrayishBlue: hsl(232, 10%, 55%);
    --grayishBlue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}


html {
    box-sizing: border-box;
    font-size: 62.5%;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    font-size: 18px;
    /* font-family: "Barlow", sans-serif; */
    /* font-family: "Fraunces", serif; */
}

img{
    width: 100%;
}

.contenedor{
    max-width: 140rem;
    margin: 0 auto;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.8rem;
}

.text-center{
    text-align: center;
}

/* HEADER */
header {
    max-height: 80rem;
    background-color: #3DBFF2;
}

.header-navegacion{
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-navegacion img{
    width: 22rem;
}

.header-navegacion a {
    color: var(--white);
    text-decoration: none;
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 2.2rem;
    margin: 0 2.5rem;
}

.header-navegacion a:nth-last-child(1){
    color: var(--veryDarkDesaturatedBlue);
    background-color: var(--white);
    padding: 2rem 3rem;
    border-radius: 45px;
    text-transform: uppercase;
    font-size: 1.8rem;
}

.titulo{
    font-size: 6rem;
    color: var(--white);
    text-transform: uppercase;
    font-family: "Fraunces", serif;
    font-weight: 900;
    letter-spacing: 1.5rem;
    margin-top: 18rem;
}

